<div class="card">
    <p-card header="BEMS" subheader="Welcome" [style]="{width: '50rem'}" styleClass="p-card-shadow">
        <form>
            <div class="row">
                <div class=" col-md-7 inputs">

                    <div class="p-field  col-md-9 item">
                        <label for="username">UserName</label>
                        <input type="text" pInputText id="username" [ngModelOptions]="{standalone: true}"
                            class="form-control" [(ngModel)]="user.userName" required autofocus />
                    </div>
                    <div class="p-field col-md-9 item">
                        <label for="email">Email</label>
                        <input type="email" pInputText id="email" [ngModelOptions]="{standalone: true}" class="form-control"
                            [(ngModel)]="user.email" required autofocus />
                    </div>
                    <div class="p-field col-md-9 item">
                        <label for="password">Password</label>
                        <input type="password" pInputText id="password" [ngModelOptions]="{standalone: true}"
                            class="form-control" [(ngModel)]="user.password" required autofocus />
                    </div>
                    <br />
        
                    <div class="p-field col-md-9 item">
                        <input type="submit" value="Register" class="form-control btn btn-primary" (click)="register()" required autofocus />
                    </div>
                </div>
                <div class="col-md-5 ">
                    <img class="img" src="./../assets/images/medical2.jpg"  />
                    <br/>
                    <a class="col-md-5 link" routerLink="/">Sign In</a>

                </div>
            </div>
        </form>
    </p-card>
</div>