<div class="card">
    <span [ngStyle]="{'color':'red'}">{{error}}</span>
    <!-- <span [ngStyle]="{'color':'green'}">{{message}}</span> -->
    <!-- <span [ngStyle]="{'color':'message'===null?:'red'}">{{error}}</span> -->
    <!-- <span [ngStyle]="{'color':'red'}">{{error}}</span> -->
    <p-card header="BEMS" subheader="Welcome" [style]="{width: '50rem'}" styleClass="p-card-shadow">
      
        <form (ngSubmit)="ForgetPasswordForm.valid && confirm()" #ForgetPasswordForm="ngForm">
            <div class="row">
                <div class=" col-md-7 inputs">
                    <div class="p-field  col-md-9 item">
                        <label for="email">Email</label>
                        <input type="text" pInputText id="email" [ngModelOptions]="{standalone: true}"
                            class="form-control" [(ngModel)]="user.email" required autofocus #email="ngModel" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"/>
                            <span class="text-danger"
                             *ngIf="(email.touched || ForgetPasswordForm.submitted) && email.errors?.required">
                                email is required
                            </span>
                            <span class="text-danger"
                             *ngIf="(email.touched || ForgetPasswordForm.submitted) && email.dirty && email.errors">
                                email is not correct
                            </span>
                    </div>
                    <br>
                    <div class="p-field col-md-9 item">
                        <input type="submit" value="Submit"  class="form-control btn btn-primary" required autofocus />
                    </div>
                </div>
                <div class="col-md-5">
                    <img claSS="img" src="./../assets/images/medical2.jpg"  />
                </div>
            </div>
        </form>

    </p-card>
</div>
