<div>
    <p-dialog [(visible)]="originDialog" [style]="{width: '1024px'}" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div>
                <div class="header">
                    <h3 class="title">{{'origin.AddNewOrigin'|translate}}</h3>
                </div>

            </div>
            <form>

                <fieldset class="tab">

                    <div class="row">
                        <div class="col-md-12">
                            <label for="originCode">{{'origin.OriginCode'|translate}}</label>
                            <input type="text" class="form-control" id="originCode" [ngModelOptions]="{standalone: true}"
                                placeholder="{{'origin.OriginCode'|translate}}" [(ngModel)]="originObj.originCode" autofocus>
                        </div>
                        <div class="col-md-12">
                            <label for="englishName">{{'origin.englishName'|translate}}</label>
                            <input type="text" class="form-control" id="englishName" [ngModelOptions]="{standalone: true}"
                                placeholder="{{'origin.englishName'|translate}}" [(ngModel)]="originObj.englishName" autofocus>
                        </div>
                        <div class="col-md-12">
                            <label for="arabicName">{{'origin.arabicName'|translate}}</label>
                            <input type="text" class="form-control" id="arabicName" [ngModelOptions]="{standalone: true}"
                                placeholder="{{'origin.arabicName'|translate}}" [(ngModel)]="originObj.arabicName" autofocus>
                        </div>
                       
                    </div>

                </fieldset>
                <p-dialog [(visible)]="errorDialog" [style]="{width: '350px'}">
                    <p-header style="color: rgb(181, 4, 4);">  {{'General.Error'|translate}} </p-header>
                    <span style="color: rgb(181, 4, 4);font-weight: bold;"> {{error}}</span>
                </p-dialog>
            </form>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="{{'Actions.Cancel'|translate}}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"
                value="cancel"></button>
            <button pButton pRipple label="{{'Actions.Save'|translate}}" icon="pi pi-check" class="p-button-text" (click)="saveOrigin()"
                value="save"></button>


        </ng-template>
    </p-dialog>


  
</div>