<div>
    <p-dialog [(visible)]="subOrganizationDialog" [style]="{width: '1024px'}" [modal]="true" styleClass="p-fluid"
        (onHide)="hideDialog()">
        <ng-template pTemplate="content">
            <div>
                <div class="header">
                    <h3 class="title">{{'subOrganization.AddNewSubOrganization'|translate}}</h3>
                </div>

            </div>
            <form (ngSubmit)="AddSubOrganizationForm.valid && saveSubOrganization()" #AddSubOrganizationForm="ngForm">

                <fieldset class="tab">

                    <div class="row">
                        <div class="col-md-3">
                            <label for="subOrganizationName">{{'subOrganization.Name'|translate}}</label>
                            <input type="text" class="form-control" id="subOrganizationName" name="subOrganizationName"
                                #subOrganizationName="ngModel" pTooltip="Enter a Name" tooltipPosition="bottom"
                                [(ngModel)]="subOrganization.name"
                                [class.is-invalid]="subOrganizationName.touched && subOrganizationName.errors || AddSubOrganizationForm.submitted"
                                [class.is-valid]="subOrganizationName.valid && AddSubOrganizationForm.submitted" required>
                            <div
                                *ngIf="(subOrganizationName.touched || AddSubOrganizationForm.submitted) && subOrganizationName.errors?.required">
                                <span class="text-danger">
                                    English name is required
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="subOrganizationNameAr">{{'subOrganization.NameAr'|translate}}</label>
                            <input type="text" class="form-control" id="subOrganizationNameAr"
                                [ngModelOptions]="{standalone: true}" pTooltip="Enter a Name in Arabic"
                                tooltipPosition="bottom" [(ngModel)]="subOrganization.nameAr"
                                name="subOrganizationName" #subOrganizationNameAr="ngModel"
                                [class.is-invalid]="subOrganizationNameAr.touched && subOrganizationNameAr.errors || AddSubOrganizationForm.submitted"
                                [class.is-valid]="subOrganizationNameAr.valid && AddSubOrganizationForm.submitted" required>
                            <div
                                *ngIf="(subOrganizationNameAr.touched || AddSubOrganizationForm.submitted) && subOrganizationNameAr.errors?.required">
                                <span class="text-danger">
                                    Arabic name is required
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="organization">{{'subOrganization.Organization'|translate}}</label>
                            <select class="form-control" id="organization" name="organization" #organization="ngModel"
                                [(ngModel)]="subOrganization.organizationId" pTooltip="select a SubOrganization"
                                tooltipPosition="bottom"
                                [class.is-invalid]="organization.touched && organization.errors || AddSubOrganizationForm.submitted"
                                [class.is-valid]="organization.valid && AddSubOrganizationForm.submitted" required>
                                <option selected value="0">--select--</option>
                                <option *ngFor="let org of OrganizationsList" [value]="org.id">
                                    {{translate.currentLang == "En" ? org.name:org.nameAr}}
                                </option>
                            </select>
                            <div
                                *ngIf="(organization.touched || AddSubOrganizationForm.submitted) && organization.errors?.required">
                                <span class="text-danger">
                                    Category name is required
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <button pButton pRipple label="{{'Actions.Cancel'|translate}}" icon="pi pi-times"
                                class="btn btn-info" (click)="hideDialog()" type="button"
                                value="{{'Actions.Cancel'|translate}}"></button>
                        </div>
                        <div class="col-lg-3">
                            <button pButton pRipple label="{{'Actions.Save'|translate}}" icon="pi pi-check"
                                class="btn btn-info" value="{{'Actions.Save'|translate}}" type="submit"></button>
                        </div>
                    </div>
                </fieldset>
                <p-dialog [(visible)]="errorDialog" [style]="{width: '350px'}">
                    <p-header style="color: rgb(181, 4, 4);">  {{'General.Error'|translate}} </p-header>
                    <span style="color: rgb(181, 4, 4);font-weight: bold;"> {{error}}</span>
                </p-dialog>
            </form>

        </ng-template>
    </p-dialog>
</div>