.container-fluid{
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .edit{
    margin-right: 5px;
    margin-left: 5px;
  }
  .ng-valid[required] {
    border: 1px solid silver;
    border-left: 5px solid #42A948; /* green */
    background-image: none;
    padding-right: 0%;
  }
  :host ::ng-deep {    
    .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
        display: none;
    }
  }
  

  
.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 1.5rem;
}


.p-button.p-button-icon-only {
width: 1.75rem;
padding: 0.3rem 0;
}


.p-datatable .p-datatable-tbody > tr > td {

padding: 0.3rem 1rem;
}




  @media screen and (max-width: 40rem) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-responsive-demo {
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                    display: none !important;
                }
  
                .p-datatable-tbody > tr > td {
                    text-align: left;
                    display: block;
                    width: 100%;
                    float: left;
                    clear: left;
                    border: 0 none;
  
                    .p-column-title {
                        padding: .4rem;
                        min-width: 30%;
                        display: inline-block;
                        margin: -.4em 1em -.4em -.4rem;
                        font-weight: bold;
                    }
  
                    &:last-child {
                        border-bottom: 1px solid var(--surface-d);
                    }
                }
            }
        }
    }
  }
  