<!-- <div class="container-fluid">

    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <h3>Equipment Maintenance Contract</h3>
            <ng-template pTemplate="left">
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                    class="p-button-warning download" pTooltip="PDF" tooltipPosition="bottom"></button>
            </ng-template>
        </p-toolbar>
        <div class="sla">
            <p>This contract agreement for Equipment Maintenance services between _____________ (hereafter referred to
                as
                "Client") <br>
                and ______________ (hereafter referred to as "Contractor") <br>
                is made and entered into upon the following date: ____/____/____.<br>
                The following equipment shall be maintained:<br>
            </p>
            <p>The Client owns or has legal control of the above mentioned equipment and it is hereby incorporated into
                this<br>
                Maintenance Agreement by reference.<br>
                </p>
                <p>8 visits per month and 2 of them will be for urgent cases</p>
               <p> and the replacement of parts on an as needed basis. Emergency repairs will also be made when necessary
                whenever </p>
       

        </div>
    </div>
</div> -->



