<div class="row">
    <aside class="col-5 col-md-2 ">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <!---------------------Governorate-------------------->
                <mat-expansion-panel [class.mat-elevation-z0]="true" style="border:1px solid gray ;">
                    <mat-expansion-panel-header style="background-color:menu; height:30px;">
                        {{'equipment.healthDirectory' |translate}}
                    </mat-expansion-panel-header>
                    <div [ngClass]="translate.currentLang == 'en' ? 'listStyle': 'listStyleAr'">
                        <mat-nav-list class="mat-nav-list" *ngFor="let item of this.ELSHARKYAArr"
                            class="list-group-item">
                            <p-checkbox name="group1" [value]="item.code" [(ngModel)]="mohafazatCode"
                                (click)="selectMohafza()"></p-checkbox>
                                {{translate.currentLang == "En" ?
                                item.enName:item.arName}}
                        </mat-nav-list>
                    </div>
                </mat-expansion-panel>
                <!-----------------------Cities--------------------------->
                <mat-expansion-panel [class.mat-elevation-z0]="true" style="border:1px solid gray ;">
                    <mat-expansion-panel-header style="background-color:menu; height:30px;">
                        {{'equipment.district' |translate}}
                    </mat-expansion-panel-header>
                    <div [ngClass]="translate.currentLang == 'en' ? 'listStyle': 'listStyleAr'">
                        <mat-nav-list class="mat-nav-list" *ngFor="let item of this.ADMIN_ELSHARKYAArr"
                            class="list-group-item">
                            <p-checkbox name="group1" [value]="item.code" [(ngModel)]="ctyCode" (click)="selectCity()">
                            </p-checkbox>
                            {{translate.currentLang == "En" ?
                                item.enName:item.arName}}
                        </mat-nav-list>
                    </div>
                </mat-expansion-panel>
                <!-----------------------Organizations--------------------------->
                <mat-expansion-panel [class.mat-elevation-z0]="true" style="border:1px solid gray ;">
                    <mat-expansion-panel-header style="background-color:menu; height:30px;">
                        {{'equipment.organization' |translate}}
                    </mat-expansion-panel-header>
                    <div [ngClass]="translate.currentLang == 'en' ? 'listStyle': 'listStyleAr'">
                        <mat-nav-list class="mat-nav-list" *ngFor="let item of orginataions" class="list-group-item">
                            <p-checkbox name="group1" [value]="item.id" [(ngModel)]="organizationIds"
                                (click)="selectOrginataions()"></p-checkbox>
                                {{translate.currentLang == "En" ?
                                item.name:item.nameAr}}
                        </mat-nav-list>
                    </div>
                </mat-expansion-panel>
                <!-----------------------SubOrganizations--------------------------->
                <mat-expansion-panel [class.mat-elevation-z0]="true" style="border:1px solid gray ;">
                    <mat-expansion-panel-header style="background-color:menu; height:30px;">
                        {{'equipment.SubOrganization' |translate}}
                    </mat-expansion-panel-header>
                    <div [ngClass]="translate.currentLang == 'en' ? 'listStyle': 'listStyleAr'">
                        <mat-nav-list class="mat-nav-list" *ngFor="let item of subOrginataions" class="list-group-item">
                            <p-checkbox name="group1" [value]="item.id" [(ngModel)]="subOrganizationIds"
                                (click)="selectSubOrginataions()"></p-checkbox>
                                {{translate.currentLang == "En" ?
                                item.name:item.nameAr}}
                        </mat-nav-list>
                    </div>
                </mat-expansion-panel>
                <!-----------------------Departments--------------------------->
                <mat-expansion-panel [class.mat-elevation-z0]="true" style="border:1px solid gray ;">
                    <mat-expansion-panel-header style="background-color:menu; height:30px;">
                        {{'equipment.Department' |translate}}
                    </mat-expansion-panel-header>
                    <div [ngClass]="translate.currentLang == 'en' ? 'listStyle': 'listStyleAr'">
                        <mat-nav-list class="mat-nav-list" *ngFor="let item of DepartmantsData" class="list-group-item">
                            <p-checkbox name="group1" [value]="item.departmentID" [(ngModel)]="departmentIds"
                                (click)="selectDepartmants()"></p-checkbox>
                                {{translate.currentLang == "En" ?
                                item.departmentEngName:item.departmentArName}}
                        </mat-nav-list>
                    </div>
                </mat-expansion-panel>
                <!-----------------------Brands--------------------------->
                <mat-expansion-panel [class.mat-elevation-z0]="true" style="border:1px solid gray ;">
                    <mat-expansion-panel-header style="background-color:menu; height:30px;">
                        {{'equipment.Manufacturer' |translate}}
                    </mat-expansion-panel-header>
                    <div [ngClass]="translate.currentLang == 'en' ? 'listStyle': 'listStyleAr'">
                        <mat-nav-list class="mat-nav-list" *ngFor="let item of brands" class="list-group-item">
                            <p-checkbox name="group1" [value]="item.id" [(ngModel)]="hosCodesInBrand"
                                (click)="selectBrand()"></p-checkbox>
                                {{translate.currentLang == "En" ?
                                item.name:item.nameAr}}
                        </mat-nav-list>
                    </div>
                </mat-expansion-panel>
                <!-----------------------Suppliers--------------------------->
                <mat-expansion-panel [class.mat-elevation-z0]="true" style="border:1px solid gray ;">
                    <mat-expansion-panel-header style="background-color:menu; height:30px;">
                        {{'equipment.Supplier' |translate}}
                    </mat-expansion-panel-header>
                    <div [ngClass]="translate.currentLang == 'en' ? 'listStyle': 'listStyleAr'">
                        <mat-nav-list class="mat-nav-list" *ngFor="let item of supplierNames" class="list-group-item">
                            <p-checkbox name="group1" [value]="item.id" [(ngModel)]="supplierIds"
                                (click)="selectSupplier()"></p-checkbox>
                                {{translate.currentLang == "En" ?
                                item.name:item.nameAr}}
                        </mat-nav-list>
                    </div>
                </mat-expansion-panel>

                <!-----------------------Prices----------------------------->
                <mat-expansion-panel [class.mat-elevation-z0]="true" style="border:1px solid gray ;">
                    <mat-expansion-panel-header style="background-color:menu; height:30px;">
                        {{'map.PriceRange' |translate}}
                    </mat-expansion-panel-header>
                    <div [ngClass]="translate.currentLang == 'En' ? 'priceStyle': 'priceStyleAr'">
                            <mat-form-field class="example-full-width">
                                <mat-label [ngClass]="translate.currentLang == 'En' ? 'inputStyle': 'inputStyleAr'">{{'map.From'|translate}}:</mat-label>
                                <input matInput placeholder="Ex. 1000..." id="fprice2"
                                    (focusout)="onFocusOutEvent($event,'from')" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="fromPrice">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label [ngClass]="translate.currentLang == 'En' ? 'inputStyle': 'inputStyleAr'">{{'map.To'|translate}}:</mat-label>
                                <input matInput placeholder="Ex. 1000..." id="tprice2"
                                    (focusout)="onFocusOutEvent($event,'to')" [(ngModel)]="toPrice"
                                    [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                    </div>
                </mat-expansion-panel>

                <!-----------------------Date----------------------------->
                <mat-expansion-panel [class.mat-elevation-z0]="true" style="border:1px solid gray ;">
                    <mat-expansion-panel-header style="background-color:menu; height:30px;">
                        {{'map.DateRange' |translate}}
                    </mat-expansion-panel-header>
                    <div [ngClass]="translate.currentLang == 'En' ? 'dateStyle': 'dateStyleAr'">
                            <mat-form-field>
                                <mat-label [ngClass]="translate.currentLang == 'En' ? 'inputStyle': 'inputStyleAr'">{{'map.From'|translate}}:</mat-label>
                                <input matInput [matDatepicker]="picker1" id="fdate2" (dateChange)="getDate()">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label [ngClass]="translate.currentLang == 'En' ? 'inputStyle': 'inputStyleAr'">{{'map.To'|translate}}:</mat-label>
                                <input matInput [matDatepicker]="picker2" id="tdate2" (dateChange)="getDate()">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </div>
        </div>

    </aside>

    <div class="col-7 col-md-10" style="height: 100vh;">
        <div id="viewDiv" class="w-100 h-100"></div>
    </div>
</div>
