<div class="card">
    <p-card header="BEMS" subheader="Welcome" [style]="{width: '50rem'}" styleClass="p-card-shadow">
        <span style="color: red;">{{error}}</span>
        <form>
            <div class="row">
                <div class=" col-md-7 inputs">

                    <div class="p-field  col-md-9 item">
                        <label for="Password">Password</label>
                        <input type="password" pInputText id="Password" [ngModelOptions]="{standalone: true}"
                            class="form-control" [(ngModel)]="resetPasswordModel.Password" required autofocus />
                    </div>
                   
                    <div class="p-field col-md-9 item">
                        <label for="ConfirmPassword">ConfirmPassword</label>
                        <input type="password" pInputText id="ConfirmPassword" [ngModelOptions]="{standalone: true}"
                            class="form-control" [(ngModel)]="resetPasswordModel.ConfirmPassword" required autofocus />
                    </div>
                    <!-- <input type="hidden" [ngModelOptions]="{standalone: true}" [(ngModel)]="resetPasswordModel.Email">
                    <input type="hidden" [ngModelOptions]="{standalone: true}" [(ngModel)]="resetPasswordModel.Token"> -->
                    <br />                      
                    <br>
                    <div class="p-field col-md-9 item">
                        <input type="submit" value="Reset"  class="form-control btn btn-primary" (click)="reset()" required autofocus />
                    </div>
                    
                </div>
            </div>
        </form>
    </p-card>
</div>
